<%include ./partials/header%>

<div class="ui main text container">
    <div class="ui huge header">
            <%=blogData.title%>
    </div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%=blogData.image%>">
            <div class="content">
                <span><%= blogData.created.toDateString()%></span>
            </div>
            <div class="description">
                <p><%=blogData.body%></p>
            </div>
            <a href="/blogs/<%=blogData._id%>/edit" class="ui green basic button">Edit</a>
            <form id="delete" action="/blogs/<%=blogData._id%>?_method=DELETE" method="POST">
                <button class="ui basic red button">Delete</button>
            </form>
        </div>
    </div>
</div>

<%include ./partials/footer%>